._anatomy-part_r2uuo_1{fill:var(--anatomy-default);transition:fill .15s}._anatomy-part_r2uuo_1:hover{fill:var(--anatomy-hover)}._anatomy-part_r2uuo_1[aria-selected=true]{fill:var(--anatomy-selected);stroke:#0a4c89}
